<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">DEYAV Admin </div>
    <div class="list-group list-group-flush" *ngFor="let item of menu">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <a href="#" class="list-group-item list-group-item-action bg-light" aria-controls="collapseOne" data-toggle="collapse" aria-expanded="false" data-target="#collapseOne"><i class="fas fa-user-lock"></i> {{item.titulo}}</a>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample" *ngFor="let submenu of item.submenu">
                    <a [routerLink]="[submenu.url]" routerLinkActive="router-link-active" id="dropdownMenuButton" class="list-group-item list-group-item-action bg-dark text-white">{{submenu.titulo}}</a>
                </div>
            </div>


        </div>
    </div>
</div>