footer {
    position: bottom;
    bottom: 0px;
    width: 100%;
    /* background-image: url('/assets/img/barra de abajo.png'); */
    background-size: cover;
}

.margen {
    margin-left: 2%;
}

.container {
    padding: 1%;
}