:root {
    --fondo-linear: linear-gradient(90deg, #6D1A5E, #1480C2);
    --morado-ligero: #B583AD;
    --morado: #6D1A5E;
}

.margen {
    margin-left: 2%;
}


/* .container {
    padding: 1%;
    footer {
    position: relative;
    bottom: 0;
    clear: both;
    width: 100%;
    background-size: cover;
}
} */

.fondo-linear {
    background: linear-gradient(90deg, #6D1A5E, #1480C2);
}

#mensaje {
    resize: none;
}

.btn-submit {
    max-width: 150px;
    font-weight: 600;
    /* font-family: "TheBoldFont"; */
    color: #6D1A5E !important;
    border-radius: 10px !important;
}

.btn-whatsapp {
    font-size: 0.6em;
    position: fixed;
    bottom: 70px;
    right: 20px;
    background-color: #6D1A5E;
    padding: 10px;
    border-radius: 100%;
    color: #fff;
    z-index: 10;
}

.btn-whatsapp:hover {
    text-decoration: none;
}

form {
    width: 100%;
}