<footer class="p-2 bg-dark text-white text-right sticky-bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 text-left">
                <strong>TELEFONO: 999 999 9999</strong>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <i class="fab fa-twitter-square fa-2x"></i>
                <i class="fab fa-youtube fa-2x margen"></i>
                <i class="fab fa-facebook-square fa-2x margen"></i>
            </div>
        </div>
    </div>
</footer>