<div class="container" *ngIf="nuevo === 'nuevo'">
    <div class="row m-4">
        <div class="col-lg-6">

            <form role="form" #myForm="ngForm" accept-charset="" novalidate enctype="multipart/form-data">

                <input type="text" class="form-control" placeholder="Titulo" #titulo required minlength="2" maxlength="30">
                <input type="text" class="form-control" placeholder="Autor" #autor required minlength="2" maxlength="30">
                <br>
                <!-- <input type="file" name="" class="form-control-file" #imagen id="" (change)="seleccionImagen($event.target.files[0])" required> -->
                <input type="file" (change)="fileChangeEvent($event)" />
                <br>
                <!-- <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 3" [resizeToWidth]="128" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper> -->
                <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="false" [resizeToWidth]="0" format="png" (imageCropped)="imageCropped($event)"></image-cropper>
                <div class="form-group has-feedback" [ngClass]="{ 'has-error': myckeditor.invalid && myckeditor.touched }">
                    <ckeditor [(ngModel)]="mycontent" #myckeditor="ngModel" name="myckeditor" required [config]="ckeConfig" debounce="500" (change)="onChange($event)">
                    </ckeditor>
                    <div *ngIf="myckeditor.invalid && myckeditor.touched" class="help-block">Required field.</div>
                </div>
                <!-- <div [innerHTML]="mycontent" id="txt"></div>
            <p>{{mycontent}}</p> -->
                <button [disabled]="myForm.invalid" class="btn btn-primary" (click)="crearBlog(titulo.value, autor.value)">Guardar</button>
            </form>
        </div>

        <div class="col-lg-6" style="width: 300px; max-height: 920px;">
            <p>El tamaño de la imagen es: {{evento.width}} px de ancho y {{evento.height}} px de alto</p>
            <img [src]="croppedImage" />
            <!-- <img *ngIf="!imagenTemp" [src]="'xxx'" alt="" style="width: 100%;">
        <img *ngIf="imagenTemp" [src]="imagenTemp" alt="" class="w150" style="width: 100%;"> -->
        </div>
    </div>

</div>
<div class="container" *ngIf="nuevo !== 'nuevo'">
    <div class="row m-4">
        <div class="col-lg-6">

            <form role="form" #myForm="ngForm" accept-charset="" novalidate enctype="multipart/form-data">
                <input type="text" [(ngModel)]="articuloEditar.titulo" name="titulo" class="form-control" placeholder="Titulo" #titulo required minlength="2" maxlength="30">
                <input type="text" [(ngModel)]="articuloEditar.autor" name="autor" class="form-control" placeholder="Autor" #titulo required minlength="2" maxlength="30">
                <br>
                <!-- <input type="file" name="" class="form-control-file" #imagen id="" (change)="seleccionImagen($event.target.files[0])" required> -->
                <input type="file" (change)="fileChangeEvent($event)" />
                <br>
                <!-- <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 3" [resizeToWidth]="128" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper> -->
                <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="false" [resizeToWidth]="0" format="png" (imageCropped)="imageCropped($event)"></image-cropper>
                <div class="form-group has-feedback" [ngClass]="{ 'has-error': myckeditor.invalid && myckeditor.touched }">
                    <ckeditor [(ngModel)]="articuloEditar.contenido" #myckeditor="ngModel" name="myckeditor" required [config]="ckeConfig" debounce="500" (change)="onChange($event)">
                    </ckeditor>
                    <div *ngIf="myckeditor.invalid && myckeditor.touched" class="help-block">Required field.</div>
                </div>
                <!-- <div [innerHTML]="mycontent" id="txt"></div>
          <p>{{mycontent}}</p> -->
                <button [disabled]="myForm.invalid" class="btn btn-primary" (click)="actualizarBlog(articuloEditar)">Guardar</button>
            </form>
        </div>

        <div class="col-lg-6" style="width: 300px; max-height: 920px;">
            <p>El tamaño de la imagen es: {{evento.width}} px de ancho y {{evento.height}} px de alto</p>
            <img [src]="articuloEditar.img | imagen" *ngIf="!croppedImage"/>
            <img  [src]="croppedImage" *ngIf="croppedImage" />
            <!-- <img *ngIf="!imagenTemp" [src]="'xxx'" alt="" style="width: 100%;">
      <img *ngIf="imagenTemp" [src]="imagenTemp" alt="" class="w150" style="width: 100%;"> -->
        </div>
    </div>

</div>