<div class="container">
    <div class="row">
        <div class="col-lg-6"></div>
        <div class="col-lg-6">
            <a class="btn btn-outline-morado-suave float-right m-20" [routerLink]="['/admin/blog/nuevo']">Nuevo</a>
        </div>
    </div>
</div>

<section class="container pt-5">
    <h3 style="margin-bottom: 30px; padding-left: 15px;">ULTIMOS ARTICULOS</h3>
    <div class="row pb-5 d-flex justify-content-around">
        <article class="text-justify" *ngFor="let blog of blogs | paginate: { itemsPerPage: 9, currentPage: p }">
            <div class="card mx-auto mb-4" style="width: 300px;height: 500px;">
                <img class="foto-tarjeta" [src]="blog.img | imagen" alt="Card image cap" style="height: 224px;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{blog.titulo}}</h5>
                    <p class="card-text">{{blog.contenido | truncate}}</p>
                    <a [routerLink]="[ '/admin/blog', blog._id] " class="btn mt-auto text-left p-0">Continuar leyendo...</a>
                </div>
            </div>
        </article>
    </div>

    <div class="col-lg-6 mx-auto">
        <pagination-controls (pageChange)="change($event)" responsive="true" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
    </div>

</section>