:root {
    --morado-ligero: #B583AD;
    --morado: #6D1A5E;
}

section img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.btn {
    background-color: none;
    border-color: none;
    color: #6D1A5E;
    font-weight: 500;
    transition: 0.2s;
}

.btn:hover {
    background-color: none;
    border-color: none;
    color: #6D1A5E;
    font-size: 1em;
    font-weight: 700;
    transition: 0.2s;
}

.card {
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(121, 121, 121);
}

.card,
.card-body {
    border: none;
}

.autor {
    color: #B583AD;
    font-weight: 600;
}

.img-articulo {
    height: 100%;
    width: auto;
}

@supports(object-fit: cover) {
    .foto-tarjeta {
        width: 100%;
        object-fit: cover;
        object-position: center center;
    }
}