/* .tituloImg {
    position: absolute;
    bottom: 0px;
    padding: 10px;
    font-size: 1em;
    color: #fff;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
}

.icono {
    font-size: 3rem;
}

.cardBlog {

    box-shadow: 1px 0 20px 5px #444;
}

a {
    color: #ed8344;
    text-decoration: none;
}

.imagen {
    position: relative;
}

#row-articules {
    display: flex;
    justify-content: space-between;
}

.cuerpo {
    font-family: 'Century Gothic Regular';
    font-size: .9em;
}

.titulo {
    font-family: 'the bold font';
    font-size: 1.9em;
} */


/* @font-face {
    font-family: "TheBoldFont";
    src: url(../font/theboldfont.ttf);
} */

:root {
    --morado-ligero: #B583AD;
    --morado: #6D1A5E;
}

.imagen {
    background-position: center;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

h1,
h2,
h3,
h4,
h6 {
    font-family: "TheBoldFont";
    color: #6D1A5E;
}

.btn {
    background-color: none;
    border-color: none;
    color: #6D1A5E;
    font-weight: 500;
    transition: 0.2s;
}

.btn:hover {
    background-color: none;
    border-color: none;
    color: #6D1A5E;
    font-size: 1em;
    font-weight: 700;
    transition: 0.2s;
}

section img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card {
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(121, 121, 121);
}

a {
    color: #6D1A5E;
    text-decoration: none;
}

.card,
.card-body {
    border: none;
}

article {}

input[type=text] {
    /* border: 2px #ed8344 solid; */
    box-shadow: 0 0 8px 0 #ed8344;
    margin: auto;
    width: 30%;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
}

input[type=text]:focus {
    /* -webkit-box-shadow: none; */
    box-shadow: 0 0 8px 0 #ed8344;
    border: 0;
    width: 100%;
}