<section class="container pt-5 animated fadeIn">
    <h3 class="pl-3 titulos">{{articulo.titulo}}</h3>
    <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center" style="height: 400px; background-color: #B583AD;">
        <img [src]="articulo.img | imagen " alt="" class="card-img-responsive">
    </div> -->
    <div class="text-center d-flex justify-content-center aling-content-center card-img-responsive" style="height: 400px; background-color: #B583AD;">
        <img class="card-img-top" [src]="articulo.img | imagen: 'blog' " alt="Card image cap">
    </div>
    <p class="mt-2 pl-3 autor">{{articulo.autor}}</p>
    <article>
        <p class="text-justify textoGeneral" [innerHTML]="articulo.contenido"></p>
    </article>
</section>