<div class="container">
    <div class="row">
        <!-- <div class="mt-3"> -->


        <!-- <input type="text" class="form-control mt-3" placeholder="Buscar Articulo "> -->
    </div>
</div>
<br>
<div class="container" *ngIf="ultimoActivo.length < 0 || blogs.length < 0">
    <div class="p-3 mb-2 bg-danger text-white text-center" style="max-height: 30%;"><i class="fas fa-times icono"></i>
        <br> No hay datos</div>
</div>
<div class="container pt-3 " *ngIf="ultimoActivo.length > 0 || blogs.length > 0">

    <div class="row pt-4 ">
        <div class="col-sm-10 col-md-10 col-lg-10 mx-auto ">
            <!-- TARGETA -->
            <div class="card mb-3 cardBlog ">
                <div class="imagen ">
                    <img class="card-img-top foto-tarjeta" style="height: 300px;" [src]="ultimoActivo.img | imagen" alt="Card image cap ">
                    <div class="tituloImg ">
                        <h2 class="titulo mx-4 ">{{ ultimoActivo.titulo }}</h2>
                    </div>
                </div>
                <div class="card-body ">
                    <p class="card-text cuerpo ">{{ultimoActivo.contenido | truncate }}</p>
                    <p class="card-text cuerpo "><small>
                          <a [routerLink]="[ '/blog', ultimoActivo._id] ">Continuar leyendo...</a>
                        </small></p>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="container pt-5">
    <h3 style="margin-bottom: 30px; padding-left: 15px;">ULTIMOS ARTICULOS</h3>
    <div class="row pb-5 d-flex justify-content-around">
        <article class="text-justify" *ngFor="let blog of blogs">
            <div class="card mx-auto mb-4" style="width: 300px;height: 500px;">
                <img class="foto-tarjeta" [src]="blog.img | imagen" alt="Card image cap" style="height: 224px;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{blog.titulo}}</h5>
                    <p class="card-text">{{blog.contenido | truncate}}</p>
                    <a [routerLink]="[ '/blog', blog._id] " class="btn mt-auto text-left p-0">Continuar leyendo...</a>
                </div>
            </div>
        </article>

    </div>

</section>

<div class="container">
    <div class="row">
        <div class="example mx-auto">
            <nav class="">
                <ul class="pagination">
                    <li class="disabled page-item">
                        <button class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">«</span>
                        </button>
                    </li>
                    <li class="page-item" *ngFor="let blog of blogs; let i = index"><button class="page-link" (click)="paginar(i)">{{i}}</button>
                    </li>
                    <!-- <li class="page-item"><a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">4</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">5</a>
                    </li> -->
                    <li class="page-item">
                        <button class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">»</span>
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>